<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>云格子铺</title>
    <link rel="stylesheet" href="./comty.css">
</head>
<body>
<div class="container">
    <header>
        <img src="../images/top_bg.jpg" alt="" class="img-full">
        <div class="header-figure">
            <img src="../images/logo_text.png" alt="">
            <p class="logo-text">
                一个属于大学生的闲置物品交易社区
            </p>
            <a href="http://app.uboxs.com/download.php" class="header-btn download-btn">下载App</a><a href="http://app.uboxs.com/download.php" class="header-btn open-btn">从App中打开</a>
        </div>
    </header>
    <div class="section" id="app" v-cloak>

        <div class="details">

            <div class="detail-title">
                {{title}}
            </div>
            <div class="detail-info">
                <div class="info-avator">
                    <img src="http://img.uboxs.net/{{Author.Avatar.id}}-{{Author.Avatar.hash}}" alt="">
                </div>
                <div class="info-con">
                    <div class="info-username">
                        {{Author.nickname}}
                    </div>
                    <div class="info-info">
                        <span class="info-card">楼主</span>
                        <span class="last-time">{{create | lastMinutes}}前</span>
                    </div>
                </div>
            </div>
            <div class="detail-desc">
                {{content}}
            </div>
            <div class="" v-bind:class="attachments.length==1?'detail-imgs0':'detail-imgs'">
                <div class="detail-img" v-for="(k,o) in attachments">
                    <img src="http://img.uboxs.net/{{o.data.id}}-{{o.data.hash}}" alt="">
                </div>

            </div>
            <div class="view">
                {{school_location}} · 评论 {{Value.reply}} · 浏览 {{Value.view}}
            </div>

        </div>




    </div>
    <div class="section" id="app2" v-cloak>
        <div class="comments">
            <div class="comments-header">
                最新评论
            </div>
            <div class="comment-item" v-for="(k,o) in result">
                <div class="comment-avator">
                    <img src="http://img.uboxs.net/{{o.Author.Avatar.id}}-{{o.Author.Avatar.hash}}" alt="">
                </div>
                <div class="comment-con">
                    <div class="comment-username">
                        {{o.Author.nickname}}
                        <span class="comment-floor fr">{{k+1}}楼</span>
                    </div>

                    <div class="comment-body">
                        {{o.content}}
                        <!-- 以你目<img style="width:1.5em;vertical-align:middle" src="../images/emoj/发怒.png" alt="">前的描述来看，1000块钱上下是比较合理的，建议来云格子铺实体店。 -->
                    </div>
                    <div class="comment-time">
                        {{o.create | datetime}}
                    </div>
                </div>
            </div>

            <div class="load-discuss-wrap">
                <!-- <button class="load-discuss">
                    加载更多
                </button> -->
            </div>

        </div>
    </div>
    <footer>
        <div>
            <img src="../images/logo.png" alt="">
        </div>
        <div class="footer-text">
            一个属于大学生的闲置物品交易社区
        </div>
        <div style="flex-shrink:0;">
            <a href="http://app.uboxs.com/download.php" class="footer-download-btn">
                下载App
            </a>
        </div>
    </footer>
</div>
</body>
<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="./common.js"></script>
<script src="./comty.js"></script>
</html>
