<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>云格子铺</title>
    <link rel="stylesheet" href="./detail.css">
</head>
<body>
<div class="container">
    <header>
        <img src="../images/top_bg.jpg" alt="" class="img-full">
        <div class="header-figure">
            <img src="../images/logo_text.png" alt="">
            <p class="logo-text">一个属于大学生的闲置物品交易社区</p>
            <a href="http://app.uboxs.com/download.php" class="header-btn download-btn">下载App</a><a href="javascript:;" class="header-btn open-btn do-open-in-app">从App中打开</a>
        </div>
    </header>
    <div class="section" id="app" v-cloak>
        
        <!--start banner-->
        <div id="banner_box" class="box_swipe">
            <ul>
                <li v-for="o in Images"  >
                    <img :src="'http://img.uboxs.net/'+o.id+'-'+o.hash" alt="" style="width:100%;" />
                </li>
            </ul>
                </li><ol> <li v-for="o in Images.length"  class="{'active':o==0} on"></li></ol>
        </div>
        <!--end banner-->
        <div class="details"  >
            <div class="detail-price">
                <span class="detail-price-int">￥{{Price.lowest/100}}.</span>
                <span class="detail-price-decimal">00</span>
                <span class="detail-oldprice">官网价格：<span style="text-decoration:line-through">￥{{OldPrice.lowest/100}}.00</span></span>
                <span class="detail-stock">{{'库存：'+total_amount}}</span>
            </div>
            <div class="detail-title">
                {{title}}
            </div>
            <div class="detail-item" v-for="(k , v) in Content">
                <p class="detail-item-title">
                    {{k}}：
                </p>
                <p class="detail-item-entry" v-for="(kk,oo) in v">
                    <span class="detail-item-i">{{kk}}：</span>
                    <span class="detail-item-cont">
                        {{oo}}
                    </span>
                </p>
            </div>
        </div>
        <div class="exchange">
            <a href="javascript:;" class="do-open-in-app exchange-btn">换购或者购买请打开App</a>
        </div>
        <div class="save-pay">
            提醒您请勿使用支付宝担保交易之外的交易方式
        </div>
        <div class="goods-discuss">
            商品讨论
        </div>

    </div>
    <div class="section"  id="app2" v-cloak>
        <div class="comments-wrap">


            <div class="comments">
                <div class="comments-header">
                    热门评论
                </div>
                <div class="comment-item" v-for="(k,o) in Replies">
                    <div class="comment-avator">
                        <img src="http://img.uboxs.net/{{o.Account.Avatar.id}}-{{o.Account.Avatar.hash}}" alt="">
                    </div>
                    <div class="comment-con">
                        <div class="comment-username">
                            {{o.Account.nickname}}
                            <span class="comment-floor fr">{{o.Reply.floor+'楼'}}</span>
                        </div>

                        <div class="comment-body">
                            {{o.Reply.content}}
                        </div>
                        <div class="comment-time">
                            {{o.Reply.create | datetime}}
                        </div>
                    </div>
                </div>
                <div class="load-discuss-wrap">
                    <!-- <button class="load-discuss">
                        加载更多
                    </button> -->
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div>
            <img src="../images/logo.png" alt="">
        </div>
        <div class="footer-text">
            一个属于大学生的闲置物品交易社区
        </div>
        <div style="flex-shrink:0;">
            <a href="http://app.uboxs.com/download.php" class="footer-download-btn">
                下载App
            </a>
        </div>
    </footer>
</div>
</body>
<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="./common.js"></script>
<script src="./detail.js"></script>
<script src="./swipe.js"></script>
</html>
