<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>云格子铺</title>
    <link rel="stylesheet" href="./surplus.css">
</head>
<body>
<div class="container">
    <header>
        <img src="../images/top_bg.jpg" alt="" class="img-full">
        <div class="header-figure">
            <img src="../images/logo_text.png" alt="">
            <p class="logo-text">
                一个属于大学生的闲置物品交易社区
            </p>
            <a href="http://app.uboxs.com/download.php" class="header-btn download-btn">下载App</a><a href="javascript:;" class="header-btn open-btn do-open-in-app">从App中打开</a>
        </div>
    </header>
    <div class="section" id="app" v-cloak  v-if="ok">
        <!--start banner-->
        <div id="banner_box" class="box_swipe">
            <ul>
                <li v-for="o in Images"  >
                    <img src="http://img.uboxs.net/{{o.imageid}}-{{o.hash}}" alt="" style="width:100%;" />
                </li>
            </ul>
                </li><ol> <li v-for="o in Images.length"  class="{'active':o==0} on"></li></ol>
        </div>
        <!--end banner-->
        <div class="details">
            <div class="detail-price">
                <span class="detail-price-int">￥{{parseInt(Item.price/100)}}.</span>
                <span class="detail-price-decimal">{{Item.price%100<10?"0":""}}{{Item.price%100}}</span>
                <span class="detail-oldprice">原价：<span style="text-decoration:line-through">￥{{parseInt(Item.oldprice/100)}}.{{Item.oldprice%100<10?"0":""}}{{Item.oldprice%100}}</span></span>
                <!-- <span class="detail-stock">库存：20</span> -->
            </div>
            <div class="detail-title">
                {{Item.title}}
            </div>

            <div class="detail-source">
                <div class="detail-source-avator">
                    <img src=" http://img.uboxs.net/{{Seller.headiconid}}-{{SellerHeadIcon.hash}} " alt="">
                </div>
                <div class="detail-source-con">
                    <div class="detail-source-username">
                        {{Seller.nickname}}
                        <a  href="javascript:;" class="detail-source-buy-btn do-open-in-app">
                            买买买
                        </a>
                    </div>
                    <div class="detail-source-items">
                        <span class="detail-source-item">
                            {{'库存：'+Item.amount}}
                        </span>
                        <span class="detail-source-item">
                            {{Item.degree | condition}}
                        </span>
                    </div>
                    <div class="detail-source-safty-real">
                        <span class="detail-source-safty">
                            支付宝担保交易
                        </span>
                        <span class="detail-source-real">
                            卖家实名认证
                        </span>
                    </div>
                </div>


            </div>

            <div class="view">
                 {{Item.addtime | lastMinutes}}前 · {{school_location}} · {{'浏览 '+Item.value_click}}
            </div>

        </div>
        <div class="save-pay">
            提醒您请勿使用支付宝担保交易之外的交易方式
        </div>
        <div class="goods-discuss">
            宝贝故事
        </div>
        <div class="story clearfix">
            <p>{{{Item.content_decode}}}</p>
            <button v-if="Item.audio_id!=0" source="http://media.uboxs.net/audio/{{Item.audio_id}}-{{Item.audio_hash}}" class="story-listen">{{Item.audio_length}}′′</button>
        </div>
        <div class="goods-discuss">
            宝贝评论
        </div>



    </div>
    <div class="section" id="app2" v-cloak >
        <div class="comments">
            <div class="comments-header">
                最新评论 ({{total}})
            </div>
            <div class="comment-item" v-for="(k,o) in Replies">
                <div class="comment-avator">
                    <img src="http://img.uboxs.net/{{o.Account.Avatar.id}}-{{o.Account.Avatar.hash}}" alt="">
                </div>
                <div class="comment-con">
                    <div class="comment-username">
                        {{o.Account.nickname}}
                        <span class="comment-floor fr">{{o.Reply.floor+'楼'}}</span>
                    </div>

                    <div class="comment-body">
                        {{o.Reply.content}}
                    </div>
                    <div class="comment-time">
                        {{o.Reply.create | datetime}}
                    </div>
                </div>
            </div>

            <div class="load-discuss-wrap">
                <!-- <button class="load-discuss">
                    加载更多
                </button> -->
            </div>

        </div>

    </div>
    <footer>
        <div>
            <img src="../images/logo.png" alt="">
        </div>
        <div class="footer-text">
            一个属于大学生的闲置物品交易社区
        </div>
        <div style="flex-shrink:0;">
            <a href="http://app.uboxs.com/download.php" class="footer-download-btn">
                下载App
            </a>
        </div>
    </footer>
</div>
</body>
<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="./amrnb.js"></script>
<script src="./common.js"></script>
<script src="./surplus.js"></script>
<script src="./swipe.js"></script>
</html>
