body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, img, dl, dt, dd, table, th, td, blockquote, fieldset, div, strong, label, em {
    margin: 0px;
    padding: 0px;
    border: 0;
}
ul, ol, li {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    color: #333;
    text-decoration: none;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.hidden {
    visibility: hidden;
}
.none {
    display: none;
}
.clearfix {
    display: block;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
    zoom: 1;
}
.img-full{
    width:100%;
    display: block;
}
html{
    font-size:16px;
}
body{
    line-height: 1;
    font-size: 16px;
    font-family: 'Microsoft Yahei';
}

.carousel{
    width: 100%;
    position:relative;
    height: 25rem;
    overflow: hidden;
    .carousel-imgs{
        img{
            width:100%;
            margin:auto;
            margin-top: 0rem;
            // height:22rem;
            display: none;
            transition: display 1s;
            -webkit-transition: display 1s;
        }
        img.active{
            display: block;
            transition: display 1s;
            -webkit-transition: display 1s;
        }

    }
    .carousel-dots{
        position:absolute;
        top:85%;
        width:100%;
        text-align:center;
        li{
            height:1em;
            width:1em;
            display:inline-block;
            border-radius:50%;
            margin:0 $ft12;
            background-color:rgba(0,0,0,.10);
        }
        li.active{
            background-color:#fff;
        }
    }
}

.comments-wrap{

    div.comments:nth-child(1){
        border-top: none;
    }

}
.comments{
    padding-left: $ft24;
    padding-right: $ft24;
    border-bottom:1px solid rgba(0,0,0,.30);
    // border-top: $ft24 solid #ebebeb;
    .load-discuss-wrap{
        padding:$ft40 $ft24;
        .load-discuss{
            width: 100%;
            display: block;
            text-align: center;
            margin:auto;
            background-color: transparent;
            border-radius: 6px;
            border:1px solid #ddd;
            @include ftblack();
            font-size: $ft34;
            line-height: 2em;
            font-family: 'Microsoft Yahei';
        }
    }

    .comments-header{
        font-size: $ft20;
        padding:$ft24 0;
        @include ftblack();
    }
    .comment-item{
        padding:$ft24 0;
        border-top:1px solid rgba(0,0,0,.12);
        display: flex;
        -webkit-display:flex;
        .comment-avator{
            margin:0 1rem;
            img{
                border-radius: 50%;
                height: 3.2rem;
                width:3.2rem;
            }
        }
        .comment-con{
            flex-grow:3;
            .comment-username{
                padding-bottom: .5rem;
                font-size: $ft26;
                color:#0099e5;
                opacity: .87;
                padding-bottom: .5rem;
                .comment-floor{
                    font-size: $ft20;
                    padding-right: $ft24;
                    @include ftblack();
                }
            }
            .comment-body{
                font-size: $ft26;
                @include ftblack();
                line-height: 1.6em;
                padding-bottom: 1.6em;
            }
            .comment-time{
                font-size: $ft20;
                @include ftblack();
            }
        }
    }

}

header{
    position: relative;
    .header-figure{
        position: absolute;
        top:50%;
        transform:translate(0px , -50%);
        left:0px;
        width:100%;
        text-align: center;

        img{
            width:45%;
        }
        .logo-text{
            font-size: $ft24;
            color:$white;
            letter-spacing: .75rem;
            text-indent: .75rem;
            padding: 2.5rem;
        }
        .header-btn{
            font-size: $ft34;
            border-radius: 6px;
            display: inline-block;
            width:38%;
            line-height: 2em;
            border:2px solid $white;
        }
        .download-btn{
            color:$green;
            background-color: $white;
        }
        .open-btn{
            color:white;
            margin-left: 2rem;
        }
    }
}


footer{
    position: fixed;
    bottom: 0px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    align-items:center;
    justify-content: space-between;
    padding-left: $ft32;
    padding-right: $ft40;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgba(255,255,255,.92);
    border-top: 1px solid #ccc;
    .footer-text{
        font-size: $ft24;
        color:rgba(0,0,0,.54);
        line-height: 1.5em;
        width: 34%;
        letter-spacing: .1rem;
        padding-right: 4em;
    }
    .footer-download-btn{
        border-radius: 6px;
        background-color: $green;
        font-size: $ft34;
        line-height: 2em;
        padding:0 .7em;
        display: block;
        color:$white;

    }
    img{
        width:6rem;
    }
}
[v-cloak] {
  display: none;
}
