$red : #f00;
$ft12 : .75rem;
$ft20 : 1.25rem;
$ft24 : 1.5rem;
$ft26 : 1.625rem;
$ft30 : 1.875rem;
$ft32 : 2rem;
$ft34 : 2.125rem;
$ft40 : 2.5rem;


$white : #fff;
$green : #22b98e;
$orange : #ff9800;
$black : #000;
@mixin bgblack($opacity:.5) {
    background-color:rgba(0,0,0,$opacity);
}
@mixin ftblack($opacity:.5) {
    color:rgba(0,0,0,$opacity);
}

